#wide_menu ul {
    background:darkred; /*добавляем фон всему меню*/
}

#wide_menu a {
    color:#fff; /*меняем цвет ссылок*/
    border-color: #F36262;

}

#wide_menu .selected,
#wide_menu a:hover {
    background:#D43737;/*добавляем эффект при наведении*/
}

#left_block ul li,
#left_block a {
    color: darkred;
}

#left_block .selected,
#left_block ul li:hover,
#left_block a:hover{
    color: #D43737;
}

#left_block .selected{
    color: grey;
}

#footer {
    color:#fff; /*меняем цвет ссылок*/
    background: darkred;
}

#wide_menu ul,
#main_container {
    border-color: darkred;
}

#switch_theme div {
    background: darkred;
    color: #fff;
    border-color: black;
}

.hint:hover::after {
    background: darkred;
    color: #fff;
}

