/*Общие стили для всех страниц и фреймов*/
* {
    margin: 0;
}

body {
    font-family: arial, serif; /*меняем шрифт*/
}

#wide_menu ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    background:darkred; /*добавляем фон всему меню*/
    height: 50px; /*задаем высоту*/
}
#wide_menu a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color:#fff; /*меняем цвет ссылок*/
    padding:0 15px; /*добавляем отступ*/
    line-height:50px; /*ровняем меню по вертикали*/
    display: block;
    border-right: 1px solid #F36262; /*добавляем бордюр справа*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;

}
#wide_menu a:hover {
    background:#D43737;/*добавляем эффект при наведении*/
}
#wide_menu li {
    float: left; /*Размещаем список горизонтально для реализации меню*/
}

#left_block ul {
    list-style: decimal outside; /*убираем маркеры списка*/
    padding-left: 24px;
}

#left_block a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color: darkred;
}

#left_block a:visited{
    color: grey;
}

#left_block a:hover{
    color: #D43737;
}

#left_block ul li {
    margin: 8px 0;
    color: darkred; /*Цвет маркеров*/
}

#left_block ul li:hover{
    color: #D43737;
}

#footer {
    background: darkred;
    padding: 20px;
    color:#fff; /*меняем цвет ссылок*/
}

